@font-face {
    font-family: GochiHand;
    src: url(GochiHand-Regular.ttf);
}
@font-face {
    font-family: Aboreto;
    src: url(Aboreto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: GochiHand;
    list-style: none;
}

.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #C6B79B;
}
.spinner{
    width: 80px;
    height: 80px;
    border: 10px solid #ff0048;
    border-radius: 50%;
    border-top: 10px solid #BA0F30;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}
body::-webkit-scrollbar {
    width: 7px;
}
  
body::-webkit-scrollbar-track {
    background: #FEEFDE;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #BA0F30;
    border-radius: 5px; 
    height: 30px;
}
.body {
    background-color: #FEEFDE;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #C6B79B;
    color: #BA0F30;
}
.logoBox, nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.logoBox:hover {
    cursor: pointer;
}
.logoBox img {
    height: 30px;
}
.logoBox h1 {
    font-size: 28px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
nav li, nav a {
    font-size: 20px;
    width: fit-content;
    border: 1px solid #f2C5E0;
    text-decoration: none;
    background-color: #F2C5E0;
    padding: 3px;
    border-radius: 5px;
    color: #BA0F30;
    transition: .4s;
}
nav li:hover, nav a:hover {
    color: #F2C5E0;
    border: 1px solid #BA0F30;
    background-color: #BA0F30;
    transition: .4s;
}
main {
    font-size: 20px;
    padding: 15px;
    display: flex;
    height: 75vh;
    flex-direction: column;
}
main h1 {
    font-size: 38px;
    text-align: right;
    color: #BA0F30;
    letter-spacing: 3px;
}
main h1:hover {
    cursor: pointer;
}
main h2 {
    font-size: 34px;
    letter-spacing: 5px;
}
main p {
    font-size: 20px;
    word-spacing: 9px;
    line-height: 30px;
    letter-spacing: 2px;
}
main a {
    text-decoration: none;
    margin: auto;
    padding: 8px;
    border-radius: 8px;
    width: max-content;
    border: 1px solid #BA0F30;
    background-color: #BA0F30;
    color: #F2C5E0;
    font-size: 24px;
    letter-spacing: 3px;
    transition: .4s;
}
main a:hover {
    letter-spacing: 5px;
    transition: .4s;
    border: 1px solid #F2C5E0;
    background-color: #F2C5E0;
    color: #BA0F30;
    font-weight: bold;
}
.p-index-3 {
    text-align: center;
    font-size: 28px;
}
.p-index-2 {
    text-align: center;
    font-size: 20px;
}
.p-index-1, .p-index-1 i {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: Aboreto;
}
.footer {
    position: fixed;
    bottom: 0;
}
footer {
    height: fit-content;
    padding: 5px;
    display: flex;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
}
footer p {
    font-size: 15px;
    font-family: Aboreto;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #BA0F30;
}
.swiper .swiper-pagination-bullet-active {
    background: #BA0F30;
}
.profilelogo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px dotted #BA0F30;
}
.openProfile {
    width: fit-content;
    padding: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 36px;
    letter-spacing: 3px;
    background-color: #F2C5E0;
    border: 1px double #BA0F30;
    color: #BA0F30;
    margin-bottom: 15px;
}
.swiper {
    display: none;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}
.mainprofile {
    padding: 10px;
}
.images {
    width: 37.5%;
    padding-bottom: 50px;
}
@media only screen and (max-width: 650px) {
    .swiper-slide {
        flex-direction: column;
    }
    .images {
        height: 97%;
        width: 80%;
    }
}
